<div>
  <h3 class="post_title"><%= link_to(post.title, node_path(post)) %></h3>
  <% if show_teaser %>
    <%= raw post.teaser %>
  <% else %>
    <%= raw post.body %>
  <% end %>
  <p><%= link_to("Read more", node_path(post)) if show_teaser %></p>
</div>

