<div class="grid_16" id="main_content">
  <div class="padded">
    <%= render :partial => "node", :locals => { :show_teaser => true }, :collection => @posts %>
  </div>
</div>
<div class="clear"></div>
<% if @total_post_count > 6 && @posts.size == 6 %>
  <%= raw paging %>
  <div class="clear"></div>
<% end %>
