<div class="grid_16" id="main_content">
  <div class="padded">
    <% if params[:page] %>
      <%= render :partial => "node", :locals => { :show_teaser => true }, :collection => @posts %>
    <% else %>
      <% cache do %>
        <%= render :partial => "node", :locals => { :show_teaser => true }, :collection => @posts %>
      <% end %>
<% end %>
  </div>
</div>
<div class="clear"></div>
<%= raw paging(@total_post_count, @posts.size) %>
<div class="clear"></div>
