/* General */
body {
  padding: 0;
  margin: 0;
  border: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: #fff;
  /* font-family: 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif;*/
  font-family: 'Neuton', 'Palatino', 'Lucida Bright', serif;
  font-size: 17px;
}

.padded
{
  padding: 15px;
}

h3
{
  font-family: 'Droid Sans', 'Arial', sans-serif;
  font-size: 25px;
}

h4
{
  font-size: 20px;
  font-family: 'Droid Sans', 'Arial', sans-serif;
  margin-top: 0;
  margin-bottom: 0;
}

h5
{
  font-size: 17px;
  font-family: 'Droid Sans', 'Arial', sans-serif;
}

a
{
  color: #f00;
}

.error
{
  color: #f11;
}

code
{
  font-family: 'Anonymous Pro', 'Bitstream Vera Sans Mono', 'Andale Mono', 'Courier New', monospace;
}

/* Header */
#header
{
  font-family: "Josefin Slab", serif;
  margin-top: 5px;
}

#header a
{
  color: #000;
  text-decoration: none;
}

#header a:hover
{
  color: #000;
  text-decoration: underline;
}

#header h1
{
  font-size: 40px;
  margin: 0;
  padding: 0;
}

#header h2
{
  font-size: 26px;
  font-style: italic;
  margin: 0;
  padding: 0;
}

.top_line
{
  border-bottom: solid 1px #000;
  margin-bottom: 20px;
}

/* Footer */
.black_background
{
  color: #fff;
  background-color: #000;
}

#footer
{
  margin-top: 200px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  padding: 15px;
  position: relative;
  width: 100%;
  overflow: hidden;
  clear: both;
  bottom: 0;
  left: 0;
}

#footer ul li
{
  list-style-type: none;
}

#twitter_image
{
  border: none;
}

#me
{
  float: left;
  margin: 10px;
}

/* Node */
h3.node_title a
{
  color: #000;
  text-decoration: none;
}

h3.node_title a:hover
{
  color: #000;
  text-decoration: underline;
}

.node_status
{
  border-top: solid 1px #aaa;
  border-bottom: solid 5px #aaa;
  padding: 5px;
}

.node_status span.comment_count
{
  float: right;
}

pre
{
  font-family: 'Anonymous Pro', 'Bitstream Vera Sans Mono', 'Courier', monospace;
}

/* Comments */
.no_comments
{
  color: #333;
  font-style: italic;
}

.comment_body
{
  display: block;
  margin: 10px;
}

.comment_info
{
  margin-top: 15px;
  border-top: 1px solid #000;
  padding: 10px;
  clear: both;
}

.comment
{
  font-size: 90%;
  margin-top: 7px;
  padding: 7px;
}

#comment_new
{
  display: none;
}

#comment_new label
{
  font-family: 'Droid Sans', 'Arial', sans-serif;
  font-size: 15px;
  font-weight: bold;
  display: block;
}

#comment_new input.comment_text_field, #comment_new textarea
{
  width: 100%;
}

#comment_new input.comment_submit
{
  float: right;
  width: 150px;
}

#comment_new small
{
  font-family: 'Droid Sans', 'Arial', sans-serif;
  font-size: 13px;
  font-style: italic;
}

div.author_comment
{
  background-color: #eee;
}
