  <footer>
  <div id="footer" class="black_background">
    <div class="container_16">
      <div class="grid_4">
        <div>
          <h3>Contact me</h3>
          <h4>Twitter</h4>
          <p><a href="http://twitter.com/JesseDearing" target="_blank"><img id="twitter_image" src="http://twitter-badges.s3.amazonaws.com/t_small-a.png" alt="@JesseDearing" /></a></p>

</div>
<h4>Email</h4>
<div>
  <p>
<script type="text/javascript"> 
//<![CDATA[
 
function hiveware_enkoder(){var i,j,x,y,x=
"x=\"783d2231677829353d5c227b377363793b74322b6972323d6428337236643528723636" +
"286931643d30783d3b695c5c5c22342e5c5c5c5c36733172357536783662703d6573655c5c" +
"73745c5c5c5c63725c5c5c5c61285c225c5c316a5c5c2837293227323b62395c5c5c223436" +
"5c5c5c5c78653b6a3d323d656525766136276c28332b782e367863685c5c5c5c612b5c5c5c" +
"5c783d5c5c5c5c2e335c5c5c5c7337655c5c75335c5c5c5c62365c5c5c5c73325c225c5c74" +
"295c5c5c5c726e5c223d67747836683b3669692b652c3d323432297b3529792b36393d7835" +
"362e73366375626532737437297228643b692c367d312931793b7d365c5c666f5c5c5c5c72" +
"415c5c5c5c74285c225c5c30295c5c34293b3b32783d6a65782e3d37737565366273363774" +
"7234342831362e293b6673793d3675272764623b6635306f2c6636312936373b7d3336793d" +
"3766792e7336737574316273723374722832286a3133293b296372283b36693d7965313b3d" +
"32693c2732782e27326c653b396e677636746861633b696c322b3d2837322978377b792e32" +
"2b3d6336782e6830737561366273726474724136286974393c7828372e6c3034653329362b" +
"6929352c683b33746778666e65756f6c2e6232782873366e6974316d2e663268746f30614d" +
"72363d6a2839287269336f663d627b29303336333b383d2b6937693b3c3268747836676e2e" +
"30656c6c332e7865623c696e5c5c3b305c5c5c5c3d695c5c5c5c28725c5c5c5c6f665c5c67" +
"3b275c5c5c5c273d5c5c5c5c793b5c5c5c225c5c5c225c5c5c5c3b7974637d7d3d323b2978" +
"356a282e327441733872617532686362722e7869283d2b2c69797b343d293b2931693d3b36" +
"3e6a7d392d2d66363b296f30365c22723b3b7928693d27693c273b3d63666f343772283b34" +
"693d6936303b3c35693c6836782e3b366c6569336e672b3b74683d793b69383d2b3d292736" +
"307b64297b7935666f2b6372283d326a3d78274d612e3b7468737b2e6d2879696e69352878" +
"2c322e6c3465656e293667743b2b682c7d3d692b797536303d6e293b79782d2d782e6a3e2e" +
"6c3d696c653b2965667b796e332b3d6761782e74366368686e61723b6741746974286a2b68" +
"293b3d617d7d3836793b223b6a3d6576616c28782e636861724174283029293b783d782e73" +
"75627374722831293b793d27273b666f7228693d303b693c782e6c656e6774683b692b3d34" +
"297b792b3d782e73756273747228692c32293b7d666f7228693d323b693c782e6c656e6774" +
"683b692b3d34297b792b3d782e73756273747228692c32293b7d793d792e73756273747228" +
"6a293b\";y='';for(i=0;i<x.length;i+=2){y+=unescape('%'+x.substr(i,2));}y";
while(x=eval(x));}hiveware_enkoder();
 
//]]>
</script>
    </p>
</div>
      </div>
      <div class="grid_11">
        <h3>About Me</h3>
        <%= image_tag('me-blackandwhite.jpg', :id => 'me') %>
        <p>
        My name is Jesse Dearing and I am a 27 year-old software developer from Dallas, TX.
        I focus on web development which includes but is not limited to sites, APIs, 
        front-end, back-end, sysadmin, and database. I guess you could say that I am a
        <a href="http://forge38.com/blog/2008/06/full-stack-web-developers/" target="_blank">full stack web developer</a>
        or at least striving to be one. My current language/framework of choice is Ruby on Rails.
        I have worked in C# on ASP.NET and PHP.
        </p>
        <p>
        I support Open Source Software and try to contribute where I can in awareness, adoption,
        and donation of code, time, effort, and sometimes even money.
        </p>
        <p>
        I am married to my lovely wife Katie whom I've been married to for 3 years. I am an animal person and this is 
        evidenced by 3 cats and a dog with a whole bunch of fur everywhere.
        </p>
        <p>
        I hope that you find my posts to be helpful.
        </p>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  </footer>
